  <h1 align="center">Information Technology Inventory System</h1>    
    <hr>
      <div align="center">
        <%= render 'nav' =%>       
      </div>
    <hr><br>
  <div class="container">
    <h3>Total Devices Deployed</h3>
    <br>
    <table class="table table-hover table-dark">
      <tbody id="myTable">
          <tr>
            <td>Computers: <%= @computer_count %></td>
            <td>Projectors: <%= @projector_count %></td>
            <td>Cameras: <%= @camera_count %></td>
            <td>Switchers: <%= @switcher_count %></td>
          </tr>
      </tbody>
    </table>
    <br>
    <div class="row">
        <div class="col-sm">
            <h3>Computers</h3>
            <br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% @replace_computers.each do |com| %>
                  <tr>
                    <td><%= com.manufacture %></td>
                    <td><%= com.model %></td>
                    <td><%= com.name %></td>
                    <td><%= link_to 'Show', computer_path(com) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
              <h5>Recently Updated</h5>
                <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Manufacture</th>
                        <th scope="col">Model</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <% @check_computers.each do |com| %>
                      <tr>
                        <td><%= com.manufacture %></td>
                        <td><%= com.model %></td>
                        <td><%= com.name %></td>
                        <td><%= link_to 'Show', computer_path(com) %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
        </div>
        <div class="col-sm">
          <h3>Projectors</h3>
          <br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">AHC Number</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% @replace_projectors.each do |proj| %>
                  <tr>
                    <td><%= proj.manufacture %></td>
                    <td><%= proj.model %></td>
                    <td><%= proj.ahc_number %></td>
                    <td><%= link_to 'Show', projector_path(proj) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
            <h5>Lamp Change</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">Lamp Hours</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% @replace_lamps.each do |proj| %>
                  <tr>
                    <td><%= proj.manufacture %></td>
                    <td><%= proj.model %></td>
                    <td><%= proj.total_lamp_hours %></td>
                    <td><%= link_to 'Show', projector_path(proj) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm">
            <h3>Cameras</h3>
            </hr></br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">AHC Number</th>
                  </tr>
                </thead>
                  <% @replace_cameras.each do |cam| %>
                  <tr>
                    <td><%= cam.manufacture %></td>
                    <td><%= cam.model %></td>
                    <td><%= cam.ahc_number %></td>
                    <td><%= link_to 'Show', camera_path(cam) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        <div class="col-sm">
          <h3>Switchers</h3>
            </hr></br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">AHC Number</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <% @replace_switchers.each do |sw| %>
                  <tr>
                    <td><%= sw.manufacture %></td>
                    <td><%= sw.model %></td>
                    <td><%= sw.ahc_number %></td>
                    <td><%= link_to 'Show', switcher_path(sw) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <br> </br>
        </div>
      </div>
    </div>
