<% @computer.each do |com| %>
   <p>
  <strong>Manufacture:</strong>
  <%= com.manufacture %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= com.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= com.serial %>
</p>

<p>
  <strong>Name:</strong>
  <%= com.name %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= com.classroom %>
</p>

<p>
  <strong>Date:</strong>
  <%= com.check_date.strftime("%m/%d/%Y") %>
</p>
<%end %>