<div class="container">
<h1>Edit Computer</h1>

<%= form_with(model: @computer, local: true) do |form| %>
 
  <p>
    <%= form.label :manufacture %><br>
    <%= form.text_field :manufacture %>
  </p>
  <p>
    <%= form.label :model %><br>
    <%= form.text_field :model %>
  </p>
  <p>
    <%= form.label :model_year %><br>
    <%= form.date_field :model_year %>
  </p>
  <p>
    <%= form.label :serial %><br>
    <%= form.text_field :serial %>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :classroom %><br>
    <%= form.text_field :classroom %>
  </p>
  <p>
    <%= form.label :check_date %><br>
    <%= form.date_field :check_date %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', computers_path %>
</div>