<p>
  <strong>Manufacture:</strong>
  <%= @computer.manufacture %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @computer.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @computer.serial %>
</p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @computer.classroom %>
</p>

<p>
  <strong>Date:</strong>
  <%= @computer.date.strftime("%m/%d/%Y") %>
</p>