<div class="container">
<h1>Edit Projectors</h1>

<%= form_with(model: @projector, local: true) do |form| %>
 
<p align="center">
    <%= form.label :manufacture %><br>
    <%= form.text_field :manufacture %>
  </p>
  <p align="center">
    <%= form.label :model %><br>
    <%= form.text_field :model %>
  </p>
  <p align="center">
    <%= form.label :model_year %><br>
    <%= form.date_field :model_year %>
  </p>
  <p align="center">
    <%= form.label :serial %><br>
    <%= form.text_field :serial %>
  </p>
  <p align="center">
    <%= form.label :ahc_number %><br>
    <%= form.text_field :ahc_number %>
  </p>
  <p align="center">
    <%= form.label :classroom %><br>
    <%= form.text_field :classroom %>
  </p>
  <p align="center">
    <%= form.label :mount_type %><br>
    <%= form.text_field :mount_type %>
  </p>
  <p align="center">
    <%= form.label :lamp_type %><br>
    <%= form.text_field :lamp_type %>
  </p>
  <p align="center">
    <%= form.label :throw_distance %><br>
    <%= form.text_field :throw_distance %>
  </p>
  <p align="center">
    <%= form.label :date_install %><br>
    <%= form.date_field :date_install %>
  </p>
  <p align="center">
    <%= form.label :date_checked %><br>
    <%= form.date_field :date_checked %>
  </p>
  <p align="center">
    <%= form.label :lamp_change %><br>
    <%= form.date_field :lamp_change %>
  </p>
  <p align="center">
      <%= form.label :total_lamp_hours %><br>
      <%= form.text_field :total_lamp_hours %>
  </p>
  <p align="center">
    <%= form.label :repair_date %><br>
    <%= form.date_field :repair_date %>
  </p>
  <p align="center">
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', projectors_path, style: "color: white;" %>
</div>