<!DOCTYPE html>

<html>
    
<header>
    <meta charset="UTF-8">
</header>
<style>
    hr
    {
        border: 1px solid black;
    }
  .float-right 
  {
  background-color: darkgray;
  color: white;
  border: 2px solid #555555;
  }
  .float-right:hover
  {
  background-color: #555555;
  color: white;
  }
  .test
  {
    align ="center";
  }
  input.form-control
  {
    background-color: #4d4d4d;
    color:white;
  }
  
  
</style>
<body>
  <h1 align="center">Projector Data</h1>
<hr>
  <%= render 'nav' %>
<hr>
<div class="container">
  <input class ="form-control" id="myInput" type="text" placeholder="Search the Table">
  <br>
  <table class="table table-hover table-dark", id="myTable2">
    <thead>
      <tr>
        <th scope="col", onclick="sortTable(0)">Manufacture</th>
        <th scope="col", onclick="sortTable(1)">Model</th>
        <th scope="col", onclick="sortTable(2)">Serial</th>
        <th scope="col", onclick="sortTable(3)">Classroom</th>
        <th scope="col", onclick="sortTable(4)">Lamp Type</th>
        <th scope="col", onclick="sortTable(5)">Date Installed</th>
        <th scope="col", onclick="sortTable(6)">Date Checked</th>
        <th scope="col", onclick="sortTable(7)">Lamp Changed</th>
        <th scope="col", onclick="sortTable(8)">Total Lamp Hours</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <% @projectors.each do |pro| %>
      <tr>
        <td><%= pro.manufacture %></td>
        <td><%= pro.model %></td>
        <td><%= pro.serial %></td>
        <td><%= pro.classroom %></td>
        <td><%= pro.lamp_type %></td>
        <td><%= pro.date_install %></td>
        <td><%= pro.date_checked %></td>
        <td><%= pro.lamp_change %></td>
        <td><%= pro.total_lamp_hours %></td>
        <td><%= link_to 'Show', projector_path(pro) %></td>
        <td><%= link_to 'Edit', edit_projector_path(pro) %></td>
        <td><%= link_to 'Destroy', projector_path(pro),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Dashboard', landing_path %>
  <%= link_to '<button type="button" class="float-right">New Projector</button>'.html_safe, new_projector_path %>
</div>
<script>
  $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});  
  
</script>
</body>
</html>



