<% @projectors.each do |pro| %>
   <p>
  <strong>Manufacture:</strong>
  <%= pro.manufacture %>
</p>
<p>
  <strong>Model:</strong>
  <%= pro.model %>
</p>
<p>
  <strong>Serial:</strong>
  <%= pro.serial %>
</p>
<p>
  <strong>AHC_Number</strong>
  <%= pro.ahc_number %>
</p>
<p>
  <strong>Classroom:</strong>
  <%= pro.classroom %>
</p>
<p>
  <strong>Mount Type:</strong>
  <%= pro.mount_type %>
</p>
<p>
  <strong>Lamp Type:</strong>
  <%= pro.lamp_type %>
</p>
<p>
  <strong>Throw Distance:</strong>
  <%= pro.throw_distance %>
</p>
<p>
  <strong>Date Installed:</strong>
  <%= pro.date_install %>
</p>
<p>
  <strong>Date Checked:</strong>
  <%= pro.date_checked %>
</p>
<p>
  <strong>Lamp Change:</strong>
  <%= pro.lamp_change %>
</p>
<p>
  <strong>Total Lamp Hours:</strong>
  <%= pro.total_lamp_hours %>
</p>
<p>
  <strong>Repair Date:</strong>
  <%= pro.repair_date %>
</p>
<% end %>