<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
</header> 
  
  
<style>
      hr
    {
        border: 1px solid black;
    }
  
</style>
<body>
  <h1 align ="center"> Projector Data </h1>
<hr>
    <%= render 'nav' =%>
<hr>

<p align ="center">
  <strong>Manufacture:</strong>
  <%= @projector.manufacture %>
</p>
 
<p align ="center">
  <strong>Model:</strong>
  <%= @projector.model %>
</p>

<p align ="center">
  <strong>Model Year:</strong>
  <%= @projector.model_year.strftime("%m/%d/%Y") %>
</p>

<p align ="center">
  <strong>Serial:</strong>
  <%= @projector.serial %>
</p>

<p align ="center">
  <strong>AHC Number:</strong>
  <%= @projector.ahc_number %>
</p>

<p align ="center">
  <strong>Classroom:</strong>
  <%= @projector.classroom %>
</p>

<p align ="center">
  <strong>Mount Type:</strong>
  <%= @projector.mount_type %>
</p>

<p align ="center">
  <strong>Lamp Type:</strong>
  <%= @projector.lamp_type %>
</p>

<p align ="center">
  <strong>Lamp Hours:</strong>
  <%= @projector.total_lamp_hours %>
</p>

<p align ="center">
  <strong>Throw Distance:</strong>
  <%= @projector.throw_distance %>
</p>

<p align ="center">
  <strong>Date Installed:</strong>
  <%= @projector.date_install.strftime("%m/%d/%Y") %>
</p>

<p align ="center">
  <strong>Date Checked:</strong>
  <%= @projector.date_checked.strftime("%m/%d/%Y") %>
</p>

<p align ="center">
  <strong>Last Lamp Change:</strong>
  <%= @projector.lamp_change.strftime("%m/%d/%Y") %>
</p>

<p align ="center">
  <strong>Last Repaired:</strong>
  <%= @projector.repair_date.strftime("%m/%d/%Y") %>
</p>
<p align ="center">
  <%= link_to 'Back to Projectors', projectors_path %>
</p>

</body>
</html>
