<% @switchers.each do |swi| %>
   <p>
  <strong>Manufacture:</strong>
  <%= swi.manufacture %>
</p>
<p>
  <strong>Model:</strong>
  <%= swi.model %>
</p>
<p>
  <strong>Serial:</strong>
  <%= swi.serial %>
</p>
<p>
  <strong>Classroom:</strong>
  <%= swi.classroom %>
</p>
<p>
  <strong>AHC_Number</strong>
  <%= swi.ahc_number %>
</p>
<p>
  <strong>Audio:</strong>
  <%= swi.audio %>
</p>

<% end %>