<h1 align="center"> Switcher Database Entry</h1>
 
<hr>
    <%= render 'nav' =%>
<hr> 
<h2 align="center">New Switcher</h2>
</body>
<div class="container">


<%= form_with scope: :switcher, url: switchers_path, local: true do |form| %>
    <div class="form-group">
      <%= form.label :manufacture %><br>
      <%= form.text_field :manufacture, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :model %><br>
      <%= form.text_field :model, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :model_year %><br>
      <%= form.text_field :model_year, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :serial %><br>
      <%= form.text_field :serial, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :classroom %><br>
      <%= form.text_field :classroom, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :ahc_number %><br>
      <%= form.text_field :ahc_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :audio %><br>
      <%= form.text_field :audio, class: "form-control" %>
    </div>
    <div class="col-auto">
      <p align ="center">
      <%= form.submit :class => 'btn btn-primary mb-2'%>
      </p>
    </div>
    <p align="center">
    <%= link_to 'Back to Switchers', switchers_path, style: "color: white;" %>
  </p>
<% end %>
</div>