<p>
  <strong>Manufacture:</strong>
  <%= @switcher.manufacture %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @switcher.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @switcher.serial %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @switcher.classroom %>
</p>

<p>
  <strong>AHC Number:</strong>
  <%= @switcher.ahc_number %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @switcher.audio %>
</p>