<div class="container">
<h1>New Camera</h1>

<%= form_with scope: :camera, url: cameras_path, local: true do |form| %>
  <p>
    <%= form.label :manufacture %><br>
    <%= form.text_field :manufacture %>
  </p>
  <p>
    <%= form.label :model %><br>
    <%= form.text_field :model %>
  </p>
  <p>
    <%= form.label :serial %><br>
    <%= form.text_field :serial %>
  </p>
  <p>
    <%= form.label :classroom %><br>
    <%= form.text_field :classroom %>
  </p>
  <p>
    <%= form.label :ahc_number %><br>
    <%= form.text_field :ahc_number %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>