<p>
  <strong>Manufacture:</strong>
  <%= @camera.manufacture %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @camera.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @camera.serial %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @camera.classroom %>
</p>

<p>
  <strong>AHC Number:</strong>
  <%= @camera.ahc_number %>
</p>