  <h1 align ="center"> Camera Data </h1>
<hr>
    <%= render 'nav' =%>
<hr>

<p align ="center">
  <strong>Manufacture:</strong>
  <%= @camera.manufacture %>
</p>
 
<p align ="center">
  <strong>Model:</strong>
  <%= @camera.model %>
</p>

<p align ="center">
  <strong>Model Year:</strong>
  <%= @camera.model_year.strftime("%m/%d/%Y") %>
</p>

<p align ="center">
  <strong>Serial:</strong>
  <%= @camera.serial %>
</p>

<p align ="center">
  <strong>Classroom:</strong>
  <%= @camera.classroom %>
</p>

<p align ="center">
  <strong>AHC Number:</strong>
  <%= @camera.ahc_number %>
</p>
<p align ="center">
  <%= link_to 'Back to Cameras', cameras_path, style: "color: white;" %>
    <br>
  <%= link_to 'Back to Dashboard', landing_path, style: "color: white;" %>
</p>
 
